:root {
  /****** MAIN ******/
  /* primary colors */
  --primary_base: #5333ee;
  --primary_400: #b9adf7;
  --primary_300: #cbc2fb;
  --primary_200: #dcd6fc;
  --primary_100: #eeebfe;

  /* secondary colors */
  --secondary_base: #2cd4d9;
  --secondary_300: #c0f2f3;
  --secondary_400: #aaeeef;
  --secondary_200: #d4f6f7;
  --secondary_100: #ebfbfb;

  /****** ALERT ******/
  /* success colors */
  --success_base: #0caf60;
  --success_dark: #0ba259;
  --success_light: #55c790;

  /* warning colors */
  --warning_base: #ffd023;
  --warning_dark: #e6bb20;
  --warning_light: #ffde65;

  /* Danger */
  --danger_base: #fd6a6a;
  --danger_dark: #fd4f4f;
  --danger_light: #fd8181;

  /****** GREYSCALE ******/
  /* grayscale colors */
  --grayscale_50: #fafafa;
  --grayscale_100: #f9fafb;
  --grayscale_200: #f1f2f4;
  --grayscale_300: #eeeff2;
  --grayscale_400: #cbd5e0;
  --grayscale_500: #a0aec0;
  --grayscale_600: #718096;
  --grayscale_700: #4a5568;
  --grayscale_800: #2d3748;
  --grayscale_900: #1a202c;

  /****** ADDITIONAL COLORS ******/
  --white: #ffffff;
  --orange: #fe964a;
  --blue: #0062ff;
  --purple: #8c62ff;
  --amber: #ffc837;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "General Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue !important;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

/******* AUTH PAGE ********/

/* left-part */
.linear-layout {
  display: flex;
  align-items: center;
}

.linear-layout-flat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linear-layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.linear-layout :nth-child(2) {
  margin-left: 5px;
}

.signin-content {
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 450px;
  height: 100vh;
  padding-top: 50px;
}

.centered-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.btn-auth {
  background-color: var(--primary_300);
  color: var(--white);
  height: 56px;
}

.signin-content .img-container {
  width: 462px;
  padding-top: 20px;
}

.form-control {
  background-color: var(--grayscale_50);
  height: 56px;
  font-size: 16px;
}

.modal-image-container {
  display: flex;
  width: 100px;
  height: 56px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 25px;
}

.otp-verify-button {
  background-color: var(--primary_300);
  color: var(--white);
  height: 56px;
  margin: 10px
}

.modal-input {
  width: 56px;
  height: 56px;
  background-color: var(--grayscale_50);
}

/* second-part */

.static-content {
  width: 50%;
  background-color: var(--primary_base);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 50px;
}

.static-content .right-container-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.static-content .header-nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  padding-top: 20px;
}

.static-content .header-nav .header-link {
  margin-left: 40px;
}
