:root {
  /****** MAIN ******/
  /* primary colors */
  --primary_base: #624ce0;
  --primary_400: #b9adf7;
  --primary_300: #cbc2fb;
  --primary_200: #dcd6fc;
  --primary_100: #eeebfe;

  /* secondary colors */
  --secondary_base: #2cd4d9;
  --secondary_300: #c0f2f3;
  --secondary_400: #aaeeef;
  --secondary_200: #d4f6f7;
  --secondary_100: #ebfbfb;

  /****** ALERT ******/
  /* success colors */
  --success_base: #0caf60;
  --success_dark: #0ba259;
  --success_light: #55c790;

  /* warning colors */
  --warning_base: #ffd023;
  --warning_dark: #e6bb20;
  --warning_light: #ffde65;

  /* Danger */
  --danger_base: #fd6a6a;
  --danger_dark: #fd4f4f;
  --danger_light: #fd8181;

  /****** GREYSCALE ******/
  /* grayscale colors */
  --grayscale_50: #fafafa;
  --grayscale_100: #f9fafb;
  --grayscale_200: #f1f2f4;
  --grayscale_300: #eeeff2;
  --grayscale_400: #cbd5e0;
  --grayscale_500: #a0aec0;
  --grayscale_600: #718096;
  --grayscale_700: #4a5568;
  --grayscale_800: #2d3748;
  --grayscale_900: #1a202c;

  /****** ADDITIONAL COLORS ******/
  --white: #ffffff;
  --orange: #fe964a;
  --blue: #0062ff;
  --purple: #8c62ff;
  --amber: #ffc837;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Display", sans-serif, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue !important;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

/******* AUTH PAGE ********/

/* left-part */
.linear-layout {
  display: flex;
  align-items: center;
}

.linear-layout-flat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linear-layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.linear-layout :nth-child(2) {
  margin-left: 5px;
}

.signin-content {
  width: 100%;
  height: 100vh;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 450px;
  height: fit-content;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: auto;
  padding: 30px;
  border: 1px solid var(--grayscale_400);
  border-radius: 8px;
}

.text-large-medium {
  font-weight: 400;
  font-size: 14px;
  color: var(--grayscale_900);
  padding-left: 10px;
}

.text-large-medium-green {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary_base);
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.form-reset-pwd {
  display: flex;
  flex-direction: column;
}

.centered-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.divider {
  width: 120px;
}

.app-btn {
  background-color: var(--primary_base);
  color: var(--white);
  height: 50px;
  border-radius: 5px;
}

.auth-footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 450px;
  margin-top: 100px;
  padding-bottom: 50px;
  cursor: pointer;
}

.extended-app-btn {
  width: 100%;
  height: 56px;
  background-color: transparent;
}

.signin-content .img-container {
  width: 462px;
  padding-top: 20px;
}

.form-control {
  background: var(--white);
  border: 1px solid var(--grayscale_500);
  border-radius: 5px;
  height: 50px;
  font-size: 12px;
  font-weight: "400";
  padding: 16px;
}

.form-control-sg {
  background: var(--white) !important;
  border: 1px solid var(--grayscale_500) !important;
  border-radius: 5px !important;
  height: 50px;
  font-size: 12px;
  font-weight: "400";
  padding: 16px;
}

.eye {
  position: absolute;
  right: 16px;
  bottom: 10px;
}

.modal-image-container {
  display: flex;
  width: 100px;
  height: 56px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 25px;
}

.otp-verify-button {
  background-color: var(--primary_base);
  color: var(--white);
  height: 56px;
  margin: 10px;
  border-radius: 12px;
}

.otp-verify-button .modal-btn {
  background-color: transparent;
  height: 56px;
  width: 100%;
}

.modal-input {
  width: 56px;
  height: 56px;
  background-color: var(--grayscale_50);
}

/* second-part */

.static-content {
  width: 50%;
  background-color: var(--primary_base);
  display: none;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 80px;
}

.static-content .right-container-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.header-link {
  margin-left: 40px;
}

/******** RESET PWD  *********/
.reset-page-container {
  background-color: #eaeaea;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.hero-new-pwd {
  height: 450px;
  width: 555px;
  background-color: var(--white);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  border-radius: 24px;
}

.pwd-image-container {
  height: 128px;
  display: flex;
  justify-self: center;
}

/******** BUSINESS INFOS  *********/

.business-info-container {
  width: 100%;
  height: 100vh;
}

.select {
  background-color: var(--white);
  border: 1px solid var(--grayscale_500);
  height: 50px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 12px;
  padding: 16px;
  width: 100%;
}

.select-lang {
  background-color: var(--grayscale_200);
  height: 40px;
  width: 65px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  border: none;
}

.hero-business-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-business-info .hero-business-center {
  width: 480px;
  display: flex;
  flex-direction: column;
}

.inputs-content {
  border: 1px solid var(--grayscale_400);
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}

/* DASHBOARD */
.dashboard-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

.vertical-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  height: 100vh;
  background-color: var(--grayscale_900);
}

.vertical-header-items {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.vertical-header-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 40px;
  margin-top: 0;
  margin-bottom: 12px;
  padding-left: 15px;
  border-radius: 4px;
}

.vertical-header-item:nth-child(1) {
  background-color: var(--primary_base);
}

.app-logo {
  margin-top: 20px;
  margin-left: 25px;
}

.vertical-header-item:hover {
  background-color: var(--primary_base);
}

.active {
  background-color: var(--primary_base);
}

.vertical-footer {
  width: 100%;
  height: 65px;
  padding: 20px;
  background-color: #000;
  display: flex;
  align-items: center;
}

.vertical-footer-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.right-container {
  height: 100vh;
  width: 85%;
}

.helper-center-container {
  background-color: var(--primary_100);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-radius: 8px;
}

.hc-content {
  display: flex;
}

.greeting {
  margin-bottom: 30px;
  width: fit-content;
}

.dashboard-dynamic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 20px;
  width: 80%;
}

.box-container {
  margin-top: 25px;
  border: 1px solid var(--grayscale_400);
  width: 300px;
  border-radius: 8px;
  height: 100px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.topContainer-box {
  margin-top: 25px;
  border: 1px solid var(--grayscale_400);
  width: 500px;
  border-radius: 8px;
  height: 320px;
  padding: 25px;
  overflow: hidden;
}

.product-item {
  height: 65px;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-item:hover {
  background-color: var(--grayscale_100);
}

/* YEAH MEN I USE @MEDIA QUERY: SORRY!!!!!!! 不不不不 */
@media screen and (max-width: 950px) {
  /* .static-content {
    display: none;
  } */
  .centered {
    width: 650px;
  }

  .form-control-sg {
    width: 250px;
  }

  .signin-content .img-container {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .centered {
    width: 350px;
    height: fit-content;
  }

  .app-header {
    padding-right: 16px;
    padding-left: 16px;
  }

  .form-control-sg {
    width: 130px;
  }

  .divider {
    width: 100px;
  }

  .modal-container {
    margin-right: 24px;
    margin-left: 24px;
  }

  .hero-new-pwd {
    height: 450px;
    width: 350px;
    background-color: var(--white);
    padding: 16px;
    border-radius: 24px;
    margin-top: 100px;
  }

  .hero-business-info .hero-business-center {
    width: 350px;
  }

  .app-btn-business {
    width: 350px;
  }

  .auth-footer {
    width: 100%;
    margin-top: 25px;
    padding-bottom: 25px;
  }
}
