:root {
  /****** MAIN ******/
  /* primary colors */
  --primary_base: #5333ee;
  --primary_400: #b9adf7;
  --primary_300: #cbc2fb;
  --primary_200: #dcd6fc;
  --primary_100: #eeebfe;

  /* secondary colors */
  --secondary_base: #2cd4d9;
  --secondary_300: #c0f2f3;
  --secondary_400: #aaeeef;
  --secondary_200: #d4f6f7;
  --secondary_100: #ebfbfb;

  /****** ALERT ******/
  /* success colors */
  --success_base: #0caf60;
  --success_dark: #0ba259;
  --success_light: #55c790;

  /* warning colors */
  --warning_base: #ffd023;
  --warning_dark: #e6bb20;
  --warning_light: #ffde65;

  /* Danger */
  --danger_base: #fd6a6a;
  --danger_dark: #fd4f4f;
  --danger_light: #fd8181;

  /****** GREYSCALE ******/
  /* grayscale colors */
  --grayscale_50: #fafafa;
  --grayscale_100: #f9fafb;
  --grayscale_200: #f1f2f4;
  --grayscale_300: #eeeff2;
  --grayscale_400: #cbd5e0;
  --grayscale_500: #a0aec0;
  --grayscale_600: #718096;
  --grayscale_700: #4a5568;
  --grayscale_800: #2d3748;
  --grayscale_900: #1a202c;

  /****** ADDITIONAL COLORS ******/
  --white: #ffffff;
  --orange: #fe964a;
  --blue: #0062ff;
  --purple: #8c62ff;
  --amber: #ffc837;
}

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: "General Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue !important;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

/******* AUTH PAGE ********/

/* left-part */
.linear-layout {
  display: flex;
  align-items: center;
}

.linear-layout-flat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linear-layout-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column-layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.linear-layout :nth-child(2) {
  margin-left: 5px;
}

.signin-content {
  width: 50%;
  height: 100vh;
  overflow: hidden;
  z-index: 1000;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 450px;
  height: fit-content;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: auto;
}

.text-large-medium {
  font-weight: 400;
  font-size: 14px;
  color: var(--grayscale_900);
  padding-left: 10px;
}

.text-large-medium-green {
  display: inline;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary_base);
}

.form-modal {
  display: flex;
  flex-direction: column;
}

.form-reset-pwd {
  display: flex;
  flex-direction: column;
}

.centered-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 150px;
}

.app-btn {
  background-color: var(--primary_base);
  color: var(--white);
  height: 56px;
  border-radius: 12px;
}

.extended-app-btn {
  width: 100%;
  height: 56px;
  background-color: transparent;
}

.signin-content .img-container {
  width: 462px;
  padding-top: 20px;
}

.form-control {
  background-color: var(--grayscale_50);
  height: 56px;
  font-size: 16px;
}

.form-control-signup {
  background-color: var(--grayscale_50);
  height: 56px;
  font-size: 16px;
}

.modal-image-container {
  display: flex;
  width: 100px;
  height: 56px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 25px;
}

.otp-verify-button {
  background-color: var(--primary_base);
  color: var(--white);
  height: 56px;
  margin: 10px;
  border-radius: 12px;
}

.otp-verify-button .modal-btn {
  background-color: transparent;
  height: 56px;
  width: 100%;
}

.modal-input {
  width: 56px;
  height: 56px;
  background-color: var(--grayscale_50);
}

/* second-part */

.static-content {
  width: 50%;
  background-color: var(--primary_base);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 80px;
}

.static-content .right-container-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
}

.header-link {
  margin-left: 40px;
}

/******** RESET PWD  *********/
.reset-page-container {
  background-color: #eaeaea;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  position: absolute;
  padding-left: 100px;
  padding-right: 100px;
}

.hero-new-pwd {
  height: 450px;
  width: 555px;
  background-color: var(--white);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

.pwd-image-container {
  height: 128px;
  display: flex;
  justify-self: center;
}

/******** BUSINESS INFOS  *********/

.business-info-container {
  width: 100%;
  height: 100vh;
}

.select {
  background-color: var(--grayscale_200);
  border: none;
  height: 56px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 18px;
  padding: 16px;
  width: 100%;
}

.hero-business-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-business-info .hero-business-center {
  width: 820px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-top: 100px;
}

.inputs-content {
  border: 1px solid var(--grayscale_300);
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}

.hero-business-footer {
  border-top: 2px solid var(--grayscale_300);
  margin-top: 60px;
  display: flex;
  justify-content: flex-end;
  height: 100px;
}

/* RESPONSIVE FOR AUTH ONLY: SORRY!!!!!!! 不不不不 */
@media screen and (max-width: 951px) {
  .static-content {
    display: none;
  }
  .signin-content {
    width: 100%;
    padding: 16px;
  }
  .signin-content .img-container {
    width: 150px;
  }
}

@media screen and (max-width: 480px) {
  .centered-container {
    align-items: flex-start;
  }

  .centered {
    width: 350px;
    height: fit-content;
    display: flex;
  }

  .app-header {
    position: static;
    padding-right: 16px;
    padding-left: 16px;
  }

  .form-control-signup {
    width: 165px;
  }

  .divider {
    width: 100px;
  }
}
